.toolbar button {
  margin-right: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 1rem;
}

.toolbar button:hover {
  background-color: #0056b3;
}

.toolbar button:active {
  background-color: #004494;
}

.delete {
  background-color: #a82606 !important;
}

.delete:hover {
  background-color: #650606 !important;
}